<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit_Test">
            <directory suffix=".php">./src/test/unit</directory>
        </testsuite>
        <testsuite name="Functional_Test">
            <directory suffix=".php">./src/test/functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
